* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif; 
	background-color: white;
	color: #1c1c1c;
}
.nav-bar {
	width: 100px;
	height: 100px;
	background-color: #be005e;
	align-content: center;
}
.heading{
	color: #be005e;
}
.column {
	width: 33.33%;
	float: left;
	margin-top: 100px;
}

p {
	font-size: 12px;
	line-height: 18px;
	text-indent: 25px;
	margin-bottom: 20px;
}